Front/TemuFansBO/Connected Services/ServicioWS/ServicioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.TemuFans.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioWS" targetNamespace="http://servicios.TemuFans.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/TemuFansWS/ServicioWS?xsd=1" namespace="http://servicios.TemuFans.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="cliente_listarClientes">
    <part name="parameters" element="tns:cliente_listarClientes" />
  </message>
  <message name="cliente_listarClientesResponse">
    <part name="parameters" element="tns:cliente_listarClientesResponse" />
  </message>
  <message name="pedido_modificarPago">
    <part name="parameters" element="tns:pedido_modificarPago" />
  </message>
  <message name="pedido_modificarPagoResponse">
    <part name="parameters" element="tns:pedido_modificarPagoResponse" />
  </message>
  <message name="cliente_listarClientesNombreCodigo">
    <part name="parameters" element="tns:cliente_listarClientesNombreCodigo" />
  </message>
  <message name="cliente_listarClientesNombreCodigoResponse">
    <part name="parameters" element="tns:cliente_listarClientesNombreCodigoResponse" />
  </message>
  <portType name="ServicioWS">
    <operation name="hello">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/helloRequest" message="tns:hello" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="cliente_listarClientes">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/cliente_listarClientesRequest" message="tns:cliente_listarClientes" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/cliente_listarClientesResponse" message="tns:cliente_listarClientesResponse" />
    </operation>
    <operation name="pedido_modificarPago">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/pedido_modificarPagoRequest" message="tns:pedido_modificarPago" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/pedido_modificarPagoResponse" message="tns:pedido_modificarPagoResponse" />
    </operation>
    <operation name="cliente_listarClientesNombreCodigo">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/cliente_listarClientesNombreCodigoRequest" message="tns:cliente_listarClientesNombreCodigo" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/cliente_listarClientesNombreCodigoResponse" message="tns:cliente_listarClientesNombreCodigoResponse" />
    </operation>
  </portType>
  <binding name="ServicioWSPortBinding" type="tns:ServicioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cliente_listarClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pedido_modificarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cliente_listarClientesNombreCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioWS">
    <port name="ServicioWSPort" binding="tns:ServicioWSPortBinding">
      <soap:address location="http://localhost:8080/TemuFansWS/ServicioWS" />
    </port>
  </service>
</definitions>