Front/TemuFansBO/Connected Services/ServicioWS/ServicioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.TemuFans.pucp.edu.pe/" targetNamespace="http://servicios.TemuFans.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ParseException" type="tns:ParseException" />
  <xs:element name="cliente_listarClientes" type="tns:cliente_listarClientes" />
  <xs:element name="cliente_listarClientesNombreCodigo" type="tns:cliente_listarClientesNombreCodigo" />
  <xs:element name="cliente_listarClientesNombreCodigoResponse" type="tns:cliente_listarClientesNombreCodigoResponse" />
  <xs:element name="cliente_listarClientesResponse" type="tns:cliente_listarClientesResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="pedido_modificarPago" type="tns:pedido_modificarPago" />
  <xs:element name="pedido_modificarPagoResponse" type="tns:pedido_modificarPagoResponse" />
  <xs:element name="usuario_insertar_cliente" type="tns:usuario_insertar_cliente" />
  <xs:element name="usuario_insertar_clienteResponse" type="tns:usuario_insertar_clienteResponse" />
  <xs:complexType name="cliente_listarClientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="cliente_listarClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo" type="xs:string" />
          <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="doi" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_doi" type="tns:tipoDoi" />
      <xs:element minOccurs="0" name="tipo_usuario" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedido_modificarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" name="estado_pedido" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedido_modificarPagoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="usuario_insertar_cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo_usuario" type="xs:string" />
      <xs:element minOccurs="0" name="doi" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_doi" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_registro" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario_insertar_clienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element name="errorOffset" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente_listarClientesNombreCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente_listarClientesNombreCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDoi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PASAPORTE" />
      <xs:enumeration value="DNI" />
      <xs:enumeration value="RUC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="EMPRESA" />
      <xs:enumeration value="PROVEEDOR" />
      <xs:enumeration value="EMPLEADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>