Front/TemuFansBO/Connected Services/ServicioWS/ServicioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.TemuFans.pucp.edu.pe/" targetNamespace="http://servicios.TemuFans.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ParseException" type="tns:ParseException" />
  <xs:element name="cliente_buscarCliente" type="tns:cliente_buscarCliente" />
  <xs:element name="cliente_buscarClienteResponse" type="tns:cliente_buscarClienteResponse" />
  <xs:element name="cliente_listarClientes" type="tns:cliente_listarClientes" />
  <xs:element name="cliente_listarClientesNombreCodigo" type="tns:cliente_listarClientesNombreCodigo" />
  <xs:element name="cliente_listarClientesNombreCodigoResponse" type="tns:cliente_listarClientesNombreCodigoResponse" />
  <xs:element name="cliente_listarClientesResponse" type="tns:cliente_listarClientesResponse" />
  <xs:element name="detallePedido_obtenerLineasPedido" type="tns:detallePedido_obtenerLineasPedido" />
  <xs:element name="detallePedido_obtenerLineasPedidoResponse" type="tns:detallePedido_obtenerLineasPedidoResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="marca_listarMarcas" type="tns:marca_listarMarcas" />
  <xs:element name="marca_listarMarcasResponse" type="tns:marca_listarMarcasResponse" />
  <xs:element name="pedido_listar_fecha" type="tns:pedido_listar_fecha" />
  <xs:element name="pedido_listar_fechaResponse" type="tns:pedido_listar_fechaResponse" />
  <xs:element name="pedido_modificarPago" type="tns:pedido_modificarPago" />
  <xs:element name="pedido_modificarPagoResponse" type="tns:pedido_modificarPagoResponse" />
  <xs:element name="producto_eliminarProducto" type="tns:producto_eliminarProducto" />
  <xs:element name="producto_eliminarProductoResponse" type="tns:producto_eliminarProductoResponse" />
  <xs:element name="producto_insertarProducto" type="tns:producto_insertarProducto" />
  <xs:element name="producto_insertarProductoResponse" type="tns:producto_insertarProductoResponse" />
  <xs:element name="producto_listarProductosNombre" type="tns:producto_listarProductosNombre" />
  <xs:element name="producto_listarProductosNombreResponse" type="tns:producto_listarProductosNombreResponse" />
  <xs:element name="producto_modificarProducto" type="tns:producto_modificarProducto" />
  <xs:element name="producto_modificarProductoResponse" type="tns:producto_modificarProductoResponse" />
  <xs:element name="producto_obtenerPorId" type="tns:producto_obtenerPorId" />
  <xs:element name="producto_obtenerPorIdResponse" type="tns:producto_obtenerPorIdResponse" />
  <xs:element name="torre_consultarStockProducto" type="tns:torre_consultarStockProducto" />
  <xs:element name="torre_consultarStockProductoResponse" type="tns:torre_consultarStockProductoResponse" />
  <xs:element name="torre_listarAlertasDeStock" type="tns:torre_listarAlertasDeStock" />
  <xs:element name="torre_listarAlertasDeStockResponse" type="tns:torre_listarAlertasDeStockResponse" />
  <xs:element name="usuario_insertar_cliente" type="tns:usuario_insertar_cliente" />
  <xs:element name="usuario_insertar_clienteResponse" type="tns:usuario_insertar_clienteResponse" />
  <xs:complexType name="producto_listarProductosNombre">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="producto_listarProductosNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_marca" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idMarca" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_modificarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_modificarProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedido_modificarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" name="estado_pedido" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedido_modificarPagoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="usuario_insertar_cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo_usuario" type="xs:string" />
      <xs:element minOccurs="0" name="doi" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_doi" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_registro" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario_insertar_clienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element name="errorOffset" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente_listarClientesNombreCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente_listarClientesNombreCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo" type="xs:string" />
          <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="doi" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_doi" type="tns:tipoDoi" />
      <xs:element minOccurs="0" name="tipo_usuario" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca_listarMarcas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="marca_listarMarcasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente_listarClientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="cliente_listarClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="torre_listarAlertasDeStock">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="torre_listarAlertasDeStockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:consultaStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="almacen" type="tns:almacen" />
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="torre" type="tns:torreUnPaquete" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_almacen" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="idAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="nro_torres" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="torreUnPaquete">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad_paquete" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="idProducto" type="tns:producto" />
      <xs:element minOccurs="0" name="idTorre_Un_Paquete" type="xs:int" />
      <xs:element minOccurs="0" name="nro_torre" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detallePedido_obtenerLineasPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detallePedido_obtenerLineasPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detallePedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detallePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad_por_entregar" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="pedido" type="tns:pedido" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="empleado" type="tns:empleado" />
      <xs:element minOccurs="0" name="estado_pedido" type="tns:estadoPedido" />
      <xs:element minOccurs="0" name="fecha_cancelacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_pago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_vencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_pedido" type="xs:int" />
      <xs:element name="impuestos" type="xs:double" />
      <xs:element name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="tipo_pedido" type="tns:tipoPedido" />
      <xs:element name="total" type="xs:double" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo" type="xs:string" />
          <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
          <xs:element name="sueldo" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cliente_buscarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente_buscarClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="torre_consultarStockProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="torre_consultarStockProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:consultaStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_insertarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="idMarca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_insertarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_eliminarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_eliminarProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="pedido_listar_fecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedido_listar_fechaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:resumenPorFecha" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resumenPorFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantPedidos" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDoi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PASAPORTE" />
      <xs:enumeration value="DNI" />
      <xs:enumeration value="RUC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="EMPRESA" />
      <xs:enumeration value="PROVEEDOR" />
      <xs:enumeration value="EMPLEADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPedido">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="PAGADO" />
      <xs:enumeration value="PENDIENTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoPedido">
    <xs:restriction base="xs:string">
      <xs:enumeration value="COMPRA" />
      <xs:enumeration value="VENTA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>