Front/TemuFansBO/Connected Services/ServicioWS/ServicioWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.TemuFans.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioWS" targetNamespace="http://servicios.TemuFans.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:36264/TemuFansWS/ServicioWS?xsd=1" namespace="http://servicios.TemuFans.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="cliente_listarClientesNombreCodigo">
    <part name="parameters" element="tns:cliente_listarClientesNombreCodigo" />
  </message>
  <message name="cliente_listarClientesNombreCodigoResponse">
    <part name="parameters" element="tns:cliente_listarClientesNombreCodigoResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="cliente_listarClientes">
    <part name="parameters" element="tns:cliente_listarClientes" />
  </message>
  <message name="cliente_listarClientesResponse">
    <part name="parameters" element="tns:cliente_listarClientesResponse" />
  </message>
  <message name="pedido_listar_fecha">
    <part name="parameters" element="tns:pedido_listar_fecha" />
  </message>
  <message name="pedido_listar_fechaResponse">
    <part name="parameters" element="tns:pedido_listar_fechaResponse" />
  </message>
  <message name="pedido_modificarPago">
    <part name="parameters" element="tns:pedido_modificarPago" />
  </message>
  <message name="pedido_modificarPagoResponse">
    <part name="parameters" element="tns:pedido_modificarPagoResponse" />
  </message>
  <message name="detallePedido_obtenerLineasPedido">
    <part name="parameters" element="tns:detallePedido_obtenerLineasPedido" />
  </message>
  <message name="detallePedido_obtenerLineasPedidoResponse">
    <part name="parameters" element="tns:detallePedido_obtenerLineasPedidoResponse" />
  </message>
  <message name="usuario_insertar_cliente">
    <part name="parameters" element="tns:usuario_insertar_cliente" />
  </message>
  <message name="usuario_insertar_clienteResponse">
    <part name="parameters" element="tns:usuario_insertar_clienteResponse" />
  </message>
  <message name="ParseException">
    <part name="fault" element="tns:ParseException" />
  </message>
  <message name="producto_eliminarProducto">
    <part name="parameters" element="tns:producto_eliminarProducto" />
  </message>
  <message name="producto_eliminarProductoResponse">
    <part name="parameters" element="tns:producto_eliminarProductoResponse" />
  </message>
  <message name="producto_insertarProducto">
    <part name="parameters" element="tns:producto_insertarProducto" />
  </message>
  <message name="producto_insertarProductoResponse">
    <part name="parameters" element="tns:producto_insertarProductoResponse" />
  </message>
  <message name="producto_modificarProducto">
    <part name="parameters" element="tns:producto_modificarProducto" />
  </message>
  <message name="producto_modificarProductoResponse">
    <part name="parameters" element="tns:producto_modificarProductoResponse" />
  </message>
  <portType name="ServicioWS">
    <operation name="cliente_listarClientesNombreCodigo">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/cliente_listarClientesNombreCodigoRequest" message="tns:cliente_listarClientesNombreCodigo" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/cliente_listarClientesNombreCodigoResponse" message="tns:cliente_listarClientesNombreCodigoResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/helloRequest" message="tns:hello" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="cliente_listarClientes">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/cliente_listarClientesRequest" message="tns:cliente_listarClientes" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/cliente_listarClientesResponse" message="tns:cliente_listarClientesResponse" />
    </operation>
    <operation name="pedido_listar_fecha">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/pedido_listar_fechaRequest" message="tns:pedido_listar_fecha" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/pedido_listar_fechaResponse" message="tns:pedido_listar_fechaResponse" />
    </operation>
    <operation name="pedido_modificarPago">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/pedido_modificarPagoRequest" message="tns:pedido_modificarPago" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/pedido_modificarPagoResponse" message="tns:pedido_modificarPagoResponse" />
    </operation>
    <operation name="detallePedido_obtenerLineasPedido">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/detallePedido_obtenerLineasPedidoRequest" message="tns:detallePedido_obtenerLineasPedido" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/detallePedido_obtenerLineasPedidoResponse" message="tns:detallePedido_obtenerLineasPedidoResponse" />
    </operation>
    <operation name="usuario_insertar_cliente">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/usuario_insertar_clienteRequest" message="tns:usuario_insertar_cliente" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/usuario_insertar_clienteResponse" message="tns:usuario_insertar_clienteResponse" />
      <fault wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/usuario_insertar_cliente/Fault/ParseException" name="ParseException" message="tns:ParseException" />
    </operation>
    <operation name="producto_eliminarProducto">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/producto_eliminarProductoRequest" message="tns:producto_eliminarProducto" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/producto_eliminarProductoResponse" message="tns:producto_eliminarProductoResponse" />
    </operation>
    <operation name="producto_insertarProducto">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/producto_insertarProductoRequest" message="tns:producto_insertarProducto" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/producto_insertarProductoResponse" message="tns:producto_insertarProductoResponse" />
    </operation>
    <operation name="producto_modificarProducto">
      <input wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/producto_modificarProductoRequest" message="tns:producto_modificarProducto" />
      <output wsam:Action="http://servicios.TemuFans.pucp.edu.pe/ServicioWS/producto_modificarProductoResponse" message="tns:producto_modificarProductoResponse" />
    </operation>
  </portType>
  <binding name="ServicioWSPortBinding" type="tns:ServicioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="cliente_listarClientesNombreCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cliente_listarClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pedido_listar_fecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pedido_modificarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="detallePedido_obtenerLineasPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="usuario_insertar_cliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ParseException">
        <soap:fault use="literal" name="ParseException" namespace="" />
      </fault>
    </operation>
    <operation name="producto_eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="producto_insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="producto_modificarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioWS">
    <port name="ServicioWSPort" binding="tns:ServicioWSPortBinding">
      <soap:address location="http://localhost:36264/TemuFansWS/ServicioWS" />
    </port>
  </service>
</definitions>